In [2]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import logging

sns.set_style("darkgrid")
%matplotlib inline

In [3]:
train_data = pd.read_csv('../data/train.csv')
train_data.head()

C:\Users\ProgrammingOperative\AppData\Local\Temp\ipykernel_5488\998386893.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train_data = pd.read_csv('../data/train.csv')

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [6]:
# Converting Date feature into datetime object
train_data['Date'] = pd.to_datetime(train_data['Date'])

In [10]:
store_data = pd.read_csv('../data/store.csv')

In [11]:
train_store = pd.merge(train_data, store_data, how = 'left', on = "Store")
train_store.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,5,2015-07-31,6064,625,1,1,0,1,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5,2015-07-31,8314,821,1,1,0,1,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,5,2015-07-31,13995,1498,1,1,0,1,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,5,2015-07-31,4822,559,1,1,0,1,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [15]:

# easter_day = 95
# christmas_day = 359

# def extract_days_before_holiday(df):
#     if df > christmas_day:
#         num_before_holiday = (366 - df) + (easter_day-1)
#     elif df < christmas_day:
#         num_before_holiday = abs(easter_day - df)
#     else:
#         num_before_holiday = 0
#     return num_before_holiday


# def extract_days_before_holiday(df):
#     if df > christmas_day:
#         num_before_holiday = (366 - df) + (easter_day-1)
#     elif df < christmas_day:
#         num_after_holiday = abs(df - easter_day)
#     else:
#         num_before_holiday = 0
#     return num_before_holiday

In [24]:

# Adding Other features
def add_date_features(df):
    date_df = df.copy
    date_df['Year'] = df['Date'].dt.year
    date_df['Month'] = df['Date'].dt.month
    date_df['Day'] = df['Date'].dt.day
    date_df['DayOfWeekName'] = df['Date'].dt.weekday_name
    date_df['WeekOfYear'] = df['Date'].dt.weekofyear
    
    returns date_df

# add_date_features(train_store)

SyntaxError: invalid syntax (3584232584.py, line 10)